<form style="margin: 1%;" #cpu="ngForm" (ngSubmit)="update(cpu)">
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="brand">
                Brand
            </label>
        </div>
        <div class="col">
            <input value={{editedCpu.brand}} required (ngModel)="cpu.brand" id="brand" class="form-control" type="text" name="brand" placeholder={{editedCpu.brand}} />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="model">
                Model
            </label>
        </div>
        <div class="col">
            <input value={{editedCpu.model}} required (ngModel)="cpu.model" id="model" class="form-control" type="text" name="model" placeholder={{editedCpu.model}} />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="clockSpeed">
                Clock speed
            </label>
        </div>
        <div class="col">
            <div class="input-group">
                <input value={{editedCpu.clockSpeed}} required (ngModel)="cpu.clockSpeed" id="clockSpeed" class="form-control" type="number" step="0.01" name="clockSpeed" />
                <p class="input-group-text">
                    GHz
                </p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="coreNumber">
                Number of cores
            </label>
        </div>
        <div class="col">
            <input value={{editedCpu.coreNumber}} required (ngModel)="cpu.coreNumber" id="coreNumber" class="form-control" type="number" name="coreNumber" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="threadNumber">
                Number of threads
            </label>
        </div>
        <div class="col">
            <input value={{editedCpu.threadNumber}} required (ngModel)="cpu.threadNumber" id="threadNumber" class="form-control" type="number" name="threadNumber" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="tdp">
                TDP
            </label>
        </div>
        <div class="col">
            <div class="input-group">
                <input value={{editedCpu.tdp}} required (ngModel)="cpu.tdp" id="tdp" class="form-control" type="number" name="tdp" />
                <p class="input-group-text">
                    W
                </p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="price">
                Price
            </label>
        </div>
        <div class="col">
            <div class="input-group">
                <input value={{editedCpu.price}} required (ngModel)="cpu.price" id="price" class="form-control" type="number" step="0.01" name="price" value="0" />
                <p class="input-group-text">
                    €
                </p>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label class="form-label col" for="socket">
                Socket
            </label>
        </div>
        <div class="col">
            <select (ngModel)='cpu.socket' name="socket" id="socket" class="form-control" aria-placeholder="Socket" value={{editedCpu.socket.id}} >
                <option *ngFor="let socket of socketList" value={{socket.id}}>{{socket.name}}</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="form-group row" style="float: right; padding-right: 1vw;">
        <input id="submit" class="btn btn-outline-success" type="submit" value="Submit" />
    </div>
</form>